API_ID=
API_HASH=
TOKEN=
LOGGER_ID=
MONGO_DB_URI=
STRING_SESSIONS=
OWNER_ID=
# External YouTube Stream APIs (Optional)
YUKI_API_KEY=                                         #you can get this api key from this bot @MeowApiRobot credit goes to @Z0iiw
SHRUTI_API_KEY=                                       #you can get this api key from this bot @SHRUTIAPIBOT credit goes to @Yaduwanshi_Nand

